		<section id="basic_data" class="hide" style="width: 50%;margin: auto;">
			<div class="q_title">
				<b> 2.1 Enter the full address.</b>
				<span><br> if the property has several applicable addresses add each one</span>
			</div>
			<div class = "pillar">
				<p>Postcode</p>
				<input id="postcode" class="input">
				<div type="required_for_address" id="postcode_required" style="background-color: red; color:black;" class="box hide">
							This data is required to add address
				</div>

			</div>
			<div>
				<p>Address Line 1</p>
				<input id="address_line_1" class="input">
				<div type="required_for_address" id="address_line_1_required" style="background-color: red; color:black;" class="box hide">
							This data is required to add address
				</div>				
			</div>
			<div>
				<p>Address Line 2</p>
				<input id="address_line_2" class="input">
			</div>
			<div>
				<p>Town or City</p>
				<input id="address_town_or_city" class="input">
				<div type="required_for_address" id="address_town_or_city_required" style="background-color: red; color:black;" class="box hide">
							This data is required to add address
				</div>			
			</div>
			<div>
				<p>UPRN</p>
				<input id="UPRN" class="input">
			</div>
			<button id="add_prop_address">
			</button>

			<button class="button is-success" id="confirm_basic_data">
				Submit and Continue
			</button>
		</section>
<script>
$(document).ready(function(){
	$("#confirm_basic_data").click(function(){
		alert("5")
		var allow_details = true 
		const address_portion = ["postcode","address_line_1","address_town_or_city"]
		address_portion.forEach((item)=>{
			alert(item)
			if ($(`#${item}`).val().length < 1){
				allow_details = false
				$(`#${item}_required`).removeClass(`hide`)
			}else {
				$(`#${item}_required`).addClass("hide")
			};
		});
		if (allow_details == true){
			var address = {}
			address.postcode = $("#postcode").val()
			address.address_line_1 = $("#address_line_1").val()
			if ($("#address_line_2").val().length > 1){
				address.address_line_2 = $("#address_line_2").val()
			}else{
				address.address_line_2 = false
			}
			address.address_town_or_city = $("#address_town_or_city").val()
			if ($("#UPRN").val().length > 1){
				address.UPRN = $("#UPRN").val()
			}else{
				address.UPRN = false
			}
			var a = JSON.stringify(address)
			$.ajax({
				type : "POST",
				url : "/TA6_part_1_add_address",
				data : {form_ID :from_data.form_id, address : a},
				success : function(data){
						next_section()
						}
			});
		};
	});
});
</script>