<section id="parking" style="width: 50%; margin: auto;" class="hide">
	<div>
		<div>
			<b>16. Parking</b>
		</div>
		<div>					
			<p class="q_title"><b>16.1</b> What are the parking arrangements at the property?<br>For example, is there a garage, allocated space, permit, roadway or driveway?</p>
		</div>
		<div class="row">	
			<div class="input_container">
				<textareas class="textarea" id="parking_arrangement_details"></textareas>
			</div>
			<div class="empty_container">
				<button align="right" style="float:right;" id="parking_arrangement_details_empty" class="button is-small is-warning empty_button"><b>X</b></button>			
			</div>				

		</div>
		<hr class="dropdown-divider">
		<p class="q_title"><b>16.2</b> Is the property in a controlled parking zone or within a local authority parking scheme?</p>
			<div class="row">
				<div  class="input_container">
					<div class = "radio_container">
						<p>Yes</p>
						<input name="controlled_parking"  type="radio" value="1">
					</div>
					<div class = "radio_container">
						<p>No</p>
						<input name="controlled_parking"  type="radio" value="0">
					</div>
					<div class = "radio_container">
						<p>Not sure</p>
						<input name="controlled_parking"  type="radio" value="2">
					</div>				
				</div>
				<div class="empty_container">
					<button align="right" style="float:right;" id="controlled_parking_empty" class="button is-small is-warning empty_button"><b>X</b></button>			
				</div>				
			</div>
		<hr class="dropdown-divider">
		<div>
			<button class="button is-success is-medium" id="submit_parking">Submit</button>
		</div>

	</div>
	
</section>

<script>
parking = {}
$(document).ready(function(){
	parking_input_fields=[
		{"identifier":"parking_arrangement_details", "input_type":"detail_text"},
		{"identifier":"controlled_parking", "input_type":"bool"}
	]
	empty_and_convert(parking_input_fields);

	ajax_submission('submit_parking',parking, "/TA6_part_1_parking", parking_input_fields);		
});
</script>