<section id="shared_facilities" style="width: 50%; margin: auto;" class="hide">
	<div>
		<div>
			<b>15. Shared facilities</b>
		</div>
		<div>					
			<p><b>15.1</b> Are there any areas or facilities shared with neighbours (excluding common parts of a leasehold block or estate)?</p>
		</div>
		<div>
			<div class="row">
				<div class="input_container">
					<div class = "radio_container">
						<p>Yes</p>
						<input name="shared_facilities_bool"  type="radio" value="1">
					</div>
					<div class = "radio_container">
						<p>No</p>
						<input name="shared_facilities_bool"  type="radio" value="0">
					</div>
				</div>
				<div class="empty_container">
					<button align="right" style="float:right;" id="shared_facilities_bool_empty" class="button is-small is-warning empty_button"><b>X</b></button>			
				</div>	
			</div>	
				<div id="shared_facilities_details">
					<p class="q_title">give details.</p>
					<div class="row">
						<div class="input_container">
							<textarea class="textarea" id="shared_facilities_text_details"></textarea>
						</div>
						
						<div class="empty_container">
							<button align="right" style="float:right;" id="shared_facilities_text_details_empty" class="button is-small is-warning empty_button"><b>X</b></button>			
						</div>
					</div>			
			</div>				
		</div>
		<hr class="dropdown-divider">
		<div>
			<button id="submit_shared_facilities" class="button is-success is-medium">Submit</button>
		</div>
	</div>
	
</section>

<script>
shared_facilities = {}
$(document).ready(function(){
	boolean_slide_open("input[name=shared_facilities_bool]","#shared_facilities_details","stand");

	shared_facilities_input_fields=[
		{"identifier":"shared_facilities_bool", "input_type":"bool"},
		{"identifier":"shared_facilities_text_details", "input_type":"detail_text"}
	]
	empty_and_convert(shared_facilities_input_fields);

	ajax_submission('submit_shared_facilities',shared_facilities, "/TA6_part_1_shared_facilities", shared_facilities_input_fields);		
});
</script>