<section id="timing" style="width: 50%;margin: auto;" align="middle" class="hide">
	<div>
		<div>
			<b>5. Timing</b>
		</div>
		<div>					
			5.1 Does the proposed sale depend on you buying another property?
		</div>
		<div class="row">
			<div class="input_container ">
				<div class = "radio_container">
					<p>Yes</p>
					<input name="property_dependant"  type="radio" value="1">
				</div>
				<div class = "radio_container">
					<p>No</p>
					<input name="property_dependant"  type="radio" value="0">
				</div>
			</div>
			<div class="empty_container">
				<button align="right" style="float:right;" id="property_dependant_empty" class="button is-small is-warning empty_button"><b>X</b></button>
			</div>							
		</div>
		<div id="property_dependant_details">
			<div>
				<p class="q_title">please provide any details, such as where you are in that transaction, whether there have been any hold-ups, and what your expected completion date is?</p>
			</div>
			<div class="row">
				<div class="input_container">
					<textarea class="textarea" id="property_dependant_details_text"></textarea>
				</div>
				<div class="empty_container">
					<button align="right" style="float:right;" id="property_dependant_details_text_empty" class="button is-small is-warning empty_button"><b>X</b></button>
				</div>					
			</div>				
		</div>
		
		<div>
			<hr class="dropdown-divider">
			<div>
				<p class="q_title">5.2 Are there other factors that might affect the timing of your move?</p>
			</div>
			<p class="q_title">
				You can select multiple factors and add any relevant dates, if known.
			</p>
			<div class="row">
				<div class="input_container">
					<div>
						<input name="school_term"  type="checkbox" set="move_time">
					</div>
					<div>
						<p>End of school term</p>
					</div>
					<div>
						<input id="school_term_date"  type="date" style="align:left;" class="hide">
					</div>
				</div>
				<div class="empty_container">
					<button align="right" style="float:right;" id="school_term_empty" class="button is-small is-warning empty_button"><b>X</b></button>			
				</div>					
			</div>
			<hr class="dropdown-divider">
			<div class="row">
				<div class="input_container">
					<div>
						<input name="upcoming_holiday"  type="checkbox" set="move_time">
					</div>
					<div>
						<p>Upcoming holiday</p>
					</div>
					<div>
						<input id="upcoming_holiday_date"  type="date" style="align:left;" class="hide">
					</div>					
				</div>
				<div class="empty_container">
					<button align="right" style="float:right;" id="upcoming_holiday_empty" class="button is-small is-warning empty_button"><b>X</b></button>			
				</div>					
			</div>				
			<hr class="dropdown-divider">
			<div class="row">
				<div class="input_container">
					<div>
						<input name="job_move"  type="checkbox" set="move_time">
					</div>
					<div>
						<p>Job move</p>
					</div>
					<div>
						<input id="job_move_date"  type="date" style="align:left;" class="hide" >
					</div>					
				</div>
				<div class="empty_container">
					<button align="right" style="float:right;" id="job_move_empty" class="button is-small is-warning empty_button"><b>X</b></button>			
				</div>					
			</div>				
			<hr class="dropdown-divider">
			<div class="row">
				<div class="input_container">
					<div>
						<input name="redundancy"  type="checkbox" set="move_time">
					</div>
					<div>
						<p>Redundancy</p>
					</div>
					<div>
						<input id="redundancy_date"  type="date" style="align:left;" class="hide">
					</div>						
				</div>
				<div class="empty_container">
					<button align="right" style="float:right;" id="redundancy_empty" class="button is-small is-warning empty_button"><b>X</b></button>			
				</div>					
			</div>				
			<hr class="dropdown-divider">
			<div class="row">
				<div class="input_container">
					<div>
						<input name="medical"  type="checkbox" set="move_time">
					</div>
					<div>
						<p>Medical (including pregnancy)</p>
					</div>
					<div>
						<input id="medical_date"  type="date" style="align:left;" class="hide">
					</div>						
				</div>
				<div class="empty_container">
					<button align="right" style="float:right;" id="medical_empty" class="button is-small is-warning empty_button"><b>X</b></button>			
				</div>					
			</div>				
			<hr class="dropdown-divider">
			<div class="row">
				<div class="input_container">
					<div>
						<input name="notice_to_tenant"  type="checkbox" set="move_time">
					</div>
					<div>
						<p>Giving notice to tenant in occupation</p>
					</div>
					<div>
						<input id="notice_to_tenant_date"  type="date" style="align:left;" class="hide">
					</div>						
				</div>
				<div class="empty_container">
					<button align="right" style="float:right;" id="notice_to_tenant_empty" class="button is-small is-warning empty_button"><b>X</b></button>			
				</div>					
			</div>				
			<hr class="dropdown-divider">
			<div class="row">
				<div class="input_container">
					<div>
						<input name="retirement"  type="checkbox" set="move_time">
					</div>
					<div>
						<p>Retirement</p>
					</div>
					<div>
						<input id="retirement_date"  type="date" style="align:left;" class="hide">
					</div>						
				</div>
				<div class="empty_container">
					<button align="right" style="float:right;" id="retirement_empty" class="button is-small is-warning empty_button"><b>X</b></button>			
				</div>					
			</div>				
			<hr class="dropdown-divider">
			<div class="row">
				<div class="input_container">
					<div>
						<input name="build_complete"  type="checkbox" set="move_time">
					</div>
					<div>
						<p>Proposed completion date, if property is a new build</p>
					</div>
					<div>
						<input id="build_complete_date"  type="date" style="align:left;" class="hide">
					</div>
				</div>
				<div class="empty_container">
					<button align="right" style="float:right;" id="build_complete_empty" class="button is-small is-warning empty_button"><b>X</b></button>			
				</div>					
			</div>				
			<hr class="dropdown-divider">
			<div>
				<div class="row">
					<div class="input_container">
						<div>
							<input name="other_move_factor"  type="checkbox" set="move_time">
						</div>
						<div>
							<p>Other</p>
						</div>
						<div>
							<input id="other_move_factor_date"  type="date" style="align:left;" class="hide">
						</div>					
					</div>
					<div class="empty_container">
						<button align="right" style="float:right;" id="other_move_factor_empty" class="button is-small is-warning empty_button"><b>X</b></button>
					</div>					
				</div>		
					<div id="other_move_factor_detail_mod">
						<p>
							please give details.
						</p>
						<textarea class="textarea" id="other_move_factor_details">
								
						</textarea>
					</div>	
				</div>																			
			</div>
			<hr class="dropdown-divider">
			<button id="submit_timing_data" class="button is-success is-small">Submit
			</button>	
		</div>
</section>
<script>
var timing = {}
$(document).ready(function(){
	boolean_slide_open("input[name=property_dependant]","#property_dependant_details","stand");
	
	$("#other_move_factor_detail_mod").slideUp();

	$("input[set=move_time]").change(function(){
		var name = $(this).attr("name")
		var in_date = ""+name+ "_date"
		if ($(this).prop("checked") == true){
			$(`#${in_date}`).removeClass("hide")
			if (name == "other_move_factor"){
				$("#other_move_factor_detail_mod").slideDown()
			};
		} else if ($(this).prop("checked") == false){
			$(`#${in_date}`).addClass("hide")
				if (name == "other_move_factor"){
				$("#other_move_factor_detail_mod").slideUp()
			};			
		};
	});

	timing_input_fields = [
		{"identifier":"property_dependant", "input_type":"bool", radio_function:function(){$("#property_dependant_details").slideUp()}},
		{"identifier": "property_dependant_details_text", "input_type":"text_details"},
		{"identifier":"school_term", "input_type":"checkbox", radio_function:function(){$("#school_term_date").addClass("hide")}},
		{"identifier":"school_term_date", "input_type":"date"},
		{"identifier":"upcoming_holiday", "input_type":"checkbox", radio_function:function(){$("#upcoming_holiday_date").addClass("hide")}},
		{"identifier":"upcoming_holiday_date", "input_type":"date"},
		{"identifier":"job_move", "input_type":"checkbox", radio_function:function(){$("#job_move_date").addClass("hide")}},
		{"identifier":"job_move_date", "input_type":"date"},
		{"identifier":"redundancy", "input_type":"checkbox", radio_function:function(){$("#redundancy_date").addClass("hide")}},
		{"identifier":"redundancy_date", "input_type":"date"},
		{"identifier":"medical", "input_type":"checkbox", radio_function:function(){$("#medical_date").addClass("hide")}},
		{"identifier":"medical_date", "input_type":"date"},	
		{"identifier":"notice_to_tenant", "input_type":"checkbox", radio_function:function(){$("#notice_to_tenant_date").addClass("hide")}},
		{"identifier":"notice_to_tenant_date", "input_type":"date"},
		{"identifier":"retirement", "input_type":"checkbox", radio_function:function(){$("#retirement_date").addClass("hide")}},
		{"identifier":"retirement_date", "input_type":"date"},
		{"identifier":"build_complete", "input_type":"checkbox", radio_function:function(){$("#build_complete_date").addClass("hide")}},
		{"identifier":"build_complete_date", "input_type":"date"},
		{"identifier":"other_move_factor", "input_type":"checkbox", radio_function:function(){$("#other_move_factor_date").addClass("hide"); $("#other_move_factor_detail_mod").slideUp()}},
		{"identifier":"other_move_factor_date", "input_type":"date"},
		{"identifier":"other_move_factor_details", "input_type":"text_details"}
	]
	empty_and_convert(timing_input_fields)
	ajax_submission('submit_timing_data',timing, "/TA6_part_1_timing", timing_input_fields);

});
</script>