		<div class="row">
			<div class="input_container">
				<div class = "radio_container">
					<p>Yes</p>
					<input display = 'YES' name="{{question['identifier']}}"  type="radio" value="1">
				</div>
				<div class = "radio_container">
					<p>No</p>
					<input display = 'NO' name="{{question['identifier']}}"  type="radio" value="0">
				</div>
				{% for option in question['radio_options'] %}
					<div class = "radio_container">
						<div><p>{{option['radio_text']}}</p></div>
						<input display="{{option['radio_text']}}" name="{{question['identifier']}}" value="{{option['radio_value']}}" type="radio">
					</div>
				{% endfor %}								
			</div>
			{% include "Json_form_templating/input_types/side_buttons.html"%}					
		</div>