{% if question['styling'] is not defined %} 
		<div class="row">
			<div class="input_container">
			{% for option in question['radio_options'] %}
				<div class = "radio_container">
					<div><p>{{option['radio_text']}}</p></div>
					<input display="{{option['radio_text']}}" name="{{question['identifier']}}" value="{{option['radio_value']}}" type="radio">
				</div>
			{% endfor %}
			</div>
			{% include "Json_form_templating/input_types/side_buttons.html"%}						
		</div>

{% elif question['styling'] == 'block' %}
	{% set subsections.table_radio = question['radio_options']|length %}
		{% if subsections.table_radio < 10 %}
		{% set subsections.table_radio_count = 0 %}

		<div class='row'>
		<table class="radio_table">
			{% for option in question['radio_options'] %}
				{% set subsections.table_radio_count = subsections.table_radio_count+ 1 %}
				{% if subsections.table_radio_count== question['radio_options']|length %}
						<tr>
							<td>
								<div radio_block = "{{question['identifier']}}" hidden_value = '{{option['radio_value']}}' class="row">
									<p>{{option['radio_text']}}</p>
									<input display="{{option['radio_text']}}" name="{{question['identifier']}}" value="{{option['radio_value']}}" type="radio" class="hide">
								</div>
							</td>
						</tr>
					</table>
				{% else %}				
					{% if subsections.table_radio_count % 2 != 0 %}
						<tr>
							<td>
								<div radio_block = "{{question['identifier']}}" hidden_value = '{{option['radio_value']}}' class="row">
									<p>{{option['radio_text']}}</p>
									<input display="{{option['radio_text']}}" name="{{question['identifier']}}" value="{{option['radio_value']}}" type="radio" class="hide">
								</div>
							</td>
						{% else %}
							<td>
								<div radio_block = "{{question['identifier']}}" hidden_value = '{{option['radio_value']}}' class="row">
									<p>{{option['radio_text']}}</p>
									<input display="{{option['radio_text']}}" name="{{question['identifier']}}" value="{{option['radio_value']}}" type="radio" class="hide">
								</div>
							</td>
						</tr>
					{% endif %}	
				{% endif %}
			{% endfor%}
			</table>
			{% include "Json_form_templating/input_types/side_buttons.html"%}
			</div>									

		{% endif %}
{% elif question['styling'] == 'dropdown' %}
	<div class="row">
		<div class="input_container">	
			<div class="select is-primary">
				<select id="{{question['identifier']}}" name='{{question['identifier']}}'>
					<option group="{question['identifier']}}" value="empty"></option>
					{% for option in question['radio_options'] %}
						<option group="{question['identifier']}}" value="{{option['radio_value']}}">{{option['radio_text']}}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		{% include "Json_form_templating/input_types/side_buttons.html"%}
	</div>
	<div class="hide">
		<input name='{{question['identifier']}}' type="radio" checked value="empty">
	</div>

{% endif %}

