<div func='side_button_container' class="empty_container" identifier='{{question['identifier']}}'>
	<div class="pillar">
		{% if question['guidance'] is defined and question['guidance']['text'] | length > 0  %}
			<button style="float:right;" func='guidance_toggle'identifier="{{question['identifier']}}" view='false'class="button is-small is-link">?</button>
		{% endif %}
		{% include "Json_form_templating/input_types/empty_button.html"%}					
	</div>
</div>
	{% if question['mandatory'] is defined and question['mandatory'] == 'true'%}
		<div style="width:10px;background-color:red;">
		</div>
	{% endif %}