{% extends "action_base.html" %}

{% block action %}
<div>
    <button class="button is-medium is-success" id="advice"> Ask for advice </button>
    <div class="hide" id="advice_radio">
        <input type="radio" name="advisor_type" value="agent">agent
        <input type="radio" name="advisor_type" value="legal">legal
         <input type"text" name="advice">
    </div>
</div>
<div>
<head>
    <div align="center" style="color:black; padding-top:50px;">
{{ Question[1] }}
    </div>
</head>
<body>
</div>
<div align="center">
    {% if type == 'objects' %}
        <form method="POST" action="{{ url_for('mp.collect_answers_objects',particular_id=particular_id, selec_set_ID=selec_set_ID,holding_ID=holding_ID) }}">

    {% else %}



        <form method="POST" action="{{ url_for('mp.collect_answers',particular_id=particular_id, selec_set_ID=selec_set_ID) }}">

    {% endif %}
<div>
{% include "answer_module/answer_module_body.html" %}

</div>
    <div align="bottom" >
        <a 
         <button href="{{url_for("mp.selectedmp",particular_id=particular_id)}}" class="button is-info">Finish making selections</button>
        </a>
    </div>
<script>
$(document).ready(function() {
    $("#advice").click(function(){
        $( "#advice_radio" ).toggleClass("hide");
        });
});
</script>
{% endblock %}
{% block side_bar %}

                        <aside class="accordion" style="padding-top: 10px; position: fixed;" width="20%">
                            <h1>all</h1>
                                <div>
                                <h2>all</h2>
                                </div>
                            <h1>Basic</h1>
                            <h1>Environmental</h1>
                            <h1>Wider area</h1>
                            <h1>Updates</h1>
                            <h1>Updates</h1>
                        </aside>
                    </div>
                </td>                    
{% endblock %}





