    <head>
 {% include "link_configs_and_spatial/spatial_links.html" %}

  </head>

<h1 class="title is-1" align='center' style="color:black;">Freehold:{{ freehold_data.reference_name }}</h1>
<table>
	<tr>
		<td>
			<div class = "corchild">
				{% if not major_objects %}
					<h1 style="color:black;">no objects created</h1>
				{% else %} 
<aside class="accordion">
	{% for object in major_objects %}
	<h1>{{ object }}</h1>
	<div class="opened-for-codepen">
		<h2>News Item #1</h2>
		<div class="opened-for-codepen">
			<h3>News Item #1a</h3>
			<div>
				<h4>News Subitem 1</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				<h4>News Subitem 2</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				
				<h4>News Subitem 3</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>
			
			<h3>News Item #1b</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			
			<h3>News Item #1c</h3>
			<div class="opened-for-codepen">
				<h4>News Subitem 1</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				
				<h4>News Subitem 2</h4>
				<p class="opened-for-codepen">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>
		</div>
		</div>
	</div>
	{% endfor %}
</aside>
	{% endif %}
</div>
</td>
<td style = "align:left;">


	<div style="color:black;">
		<a href="{{ url_for('mp.freehold_survey') }}"><button > add survey data</button></a>
		{% if freehold_data.location_point['lat'] == None or  freehold_data.location_point['long'] == None %}
		No map data currently assigned 
		 <button> Add map data </button>
		{% else %}
			<div id="map_container" data-lat="{{freehold_data.location_point['lat']}}" data-long="{{freehold_data.location_point['long']}}">
			   <div id='map' style='height:200px;'></div>
		    <button> edit map data </button>
		  </div>
	  {% endif %}
  </div>
<a 
  <button href="{{ url_for("mp.mp_object_props",particular_id=particular_id,selec_set_ID=selec_set_ID, holding_ID=freehold_data.holding_ID)}}" type ="submit" class="button is-block is-info is-large ">Define Freehold</button>
 </a>
<div style="color:black;">
search for existing disclosure components
<a
	<button>
		go
	</button>
</a>
</div>


</div>
</td>
</tr>
</table>
	<script>
	$(document).ready(function(){

		if ($("div[id=map]").length > 0){

		var latlong = $("div[id=map_container]").data();
		map = Initialize_map(latlong.lat,latlong.long,14);
		L.Marker([latlong.lat,latlong.long]).addTo(map);

	 	function add_marker(e){
	    marker = new L.Marker([latlong.lat,latlong.long]).addTo(map);
		};

		map.on('click', add_marker);
	}
});


	
/*var headers = ["H1","H2","H3","H4","H5","H6"];

$(".accordion").click(function(e) {
  var target = e.target,
      name = target.nodeName.toUpperCase();
  
  if($.inArray(name,headers) > -1) {
    var subItem = $(target).next();
    
    //slideUp all elements (except target) at current depth or greater
    var depth = $(subItem).parents().length;
    var allAtDepth = $(".accordion p, .accordion div").filter(function() {
      if($(this).parents().length >= depth && this !== subItem.get(0)) {
        return true; 
      }
    });
    $(allAtDepth).slideUp("fast");
    
    //slideToggle target content and adjust bottom border if necessary
    subItem.slideToggle("fast",function() {
        $(".accordion :visible:last").css("border-radius","0 0 10px 10px");
    });
    $(target).css({"border-bottom-right-radius":"0", "border-bottom-left-radius":"0"});
  }
});*/
</script>
  