	<div class="row">
		<div class="input_container">	
			<div class="select is-primary">
				<select id="{{question['identifier']}}" name='{{question['identifier']}}'>
					<option group="{{question['identifier']}}_stock" value=""></option>
					{% for option in question['radio_options'] %}
						<option group="{question['identifier']}}" value="{{option['radio_value']}}">{{option['radio_text']}}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		{% include "Json_form_templating/input_types/side_buttons.html"%}
	</div>
	<div class="hide">
		<input type="radio" checked>
	</div>