 {% block leaseholds %}
 {% if leasehold_data == None %}
    <tr>
        <td> No Assigned Leaseholds </td>
    </tr>
        {% else %}

            <h2>Leaseholds</h2>


                            
        <div class="table-wrapper">
            <table class="fl-table">
                <thead>
            <tr>
              {% for header in leasehold_headings %}
              <th> {{ header }}</th>
              {% endfor %}
            </tr>
            </thead>
                <tbody>
            {% for row in leasehold_data %}
            <tr type="leasehold" style="color:black" data-x_coordinate="{{row[4]}}" data-y_coordinate="{{row[5]}}" data-reference_name"={{row[0]}}" data-freehold_type="{{row[1]}}" data-freehold_ID="{{row[2]}}" data-holding_ID="{{row[3]}}">
              {% for cell in row[0:3] %}
              <td> {{ cell }} </td>
              {% endfor %}
              <th>
                <a 
                        <button href="{{ url_for("mp.selectedmp",particular_id = row[0]) }}" type ="submit" class="button is-block is-info is-small ">View</button>
                      </a>
                  </th>
            </tr>
                </form>

          {% endfor %}

                </tbody>
            </table>
        {% endif %}
{% endblock %}