
            {% if ((freehold_data == None) and (leasehold_data == None) and (cns_data == None) and (freehold_share_data == None)) %}
            <div> No objects assigned</div>
            {% else %}
        <meta id="object_types" data-freehold="{{ freehold_data }}" data-leaseholds="{{ leasehold_data}}" data-cns= "{{ cns_data }}" data-freehold_share = "{{ freehold_share_data }}">
            {% if single_object == None %}

                        <div class="buttons is-grouped is-right">
                <form id="filter">
                    <button class="button"><input id="view" type="radio" name="view_all" value="topic" checked/> View All</button>
                    {% if freehold_data == None %}
                    <button class="button is-warning" disabled>No Assigned Freeholds
                    {% else %}
                    <button class="button"><input type="radio" name="view_all" value="freeholds"/> View freehold</button>
                    {% endif %}
                    {% if leasehold_data == None %}
                    <button class="button is-warning" disabled>No Assigned Leaseholds
                    {% else %}
                    <button class="button"><input type="radio" name="view_all" value="leaseholds"/> View leaseholds</button>
                    {% endif %}
                    {% if cns_data == None %}
                    <button class="button is-warning" disabled>No companies <br>or shares attributed
                    {% else %}
                    <button class="button"><input type="radio" name="view_all" value="c_n_s"/> View c_n_s</button>
                    {% endif %}
                    {% if freehold_share_data == None %}
                    <button class="button is-warning" disabled>No Freehold Shares<br> Attributed
                    {% else %}
                    <button class="button"><input type="radio" name="view_all" value="freeholdshares"/> View freehold<br> shares</button>
                    {% endif %}
                </form>
     </div>
            {% endif %}
<div>
    {% if single_object != None %}

    {% include "create_mp_objects/general_freehold.html" %}
</div>
    {% else %}

        <div id="fil" class ="columns">
         {% if cns_data != None %}
            <div class="column">
            
            {% include "mp_views_and_profiles/mp_profile_sub_components/cns.html" %}  
             
            </div>
        {% endif %}
        {% if freehold_share_data != None %}
            <div class="column">

                {% include "mp_views_and_profiles/mp_profile_sub_components/fhs.html" %}

           </div>
        {% endif %}
        </div>
        <div id="fo" class ="columns">
            {% if leasehold_data != None %}
            <div class="column">
                {% include "mp_views_and_profiles/mp_profile_sub_components/leasehold.html" %}
            </div>
            {% endif %}
            {% if freehold_data != None %}
            <div  class="column">
                {% include "mp_views_and_profiles/mp_profile_sub_components/freeholds.html" %}
             </div>
            {% endif %}
        </div>
    </div>
        <div id="FH" class="hide" name="only_fh">
            <div >
                {% include "mp_views_and_profiles/mp_profile_sub_components/freeholds.html" %}
            </div>
        </div>
        <div id="LH" class="hide" name="only_fh">
            <div >
                {% include "mp_views_and_profiles/mp_profile_sub_components/leasehold.html" %}
            </div>
        </div>
        <div id="FHS" class="hide" name="only_fh">
            <div>
                {% include "mp_views_and_profiles/mp_profile_sub_components/fhs.html" %}
            </div>
        </div>
        <div id="CNS" class="hide" name="only_fh">
            <div >
                {% include "mp_views_and_profiles/mp_profile_sub_components/cns.html" %} 
            </div>
        </div>
    </div>
        {% endif %}


            <script language="javascript" type="text/javascript">

            $(document).ready(function() {
    var freehold_data = $('#object_types').data("freehold")

    $('input[type=radio][name=view_all]').change(function(){ 

                    if (this.value=="topic"){
                        $('#fil').slideDown();
                        $('#fo').slideDown();
                    }
                    else if(this.value!="topic"){
                         $('#fil').slideUp();
                         $('#fo').slideUp();
                    }

                    if (this.value=="freeholds"){
                            $("div[id='FH']").removeClass("hide");   
                    }
                    else if(this.value!="freeholds"){
                            $("div[id='FH']").addClass("hide");
                    }
                    if (this.value=="leaseholds"){
                            $("div[id='LH']").removeClass("hide");   
                    }
                    else if(this.value!="leaseholds"){
                            $("div[id='LH']").addClass("hide");
                    }
                    if (this.value=="freeholdshares"){
                            $("div[id='FHS']").removeClass("hide");   
                    }
                    else if(this.value!="freeholdshares"){
                            $("div[id='FHS']").addClass("hide");
                    }
                    if (this.value=="c_n_s"){
                            $("div[id='CNS']").removeClass("hide");   
                    }
                    else if(this.value!="c_n_s"){
                            $("div[id='CNS']").addClass("hide");
                    }   
                 })            
            });
            </script>
    {% endif %}
