<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trial login bloq</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='bulma.min.css') }}"/>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/css/responsive_table.css') }}"/>
    <link rel="stylesheet" type="text/css"href= "{{ url_for('static',filename='items_components/multi_tier_accordion/multi_tier_accordion.css') }}"/>
    <script language="javascript" type="text/javascript" src="{{ url_for('static', filename='items_components/multi_tier_accordion/multi_tier_accordion.js') }}"></script>
    <script language="javascript" type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='leaflet/leaflet.css') }}" />
    <script language="javascript" type="text/javascript" src="{{ url_for('static', filename='leaflet/leaflet.js') }}"></script>
     <link rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox-gl-js/v1.13.1/mapbox-gl.css" />
</head>
<body>
<table style="border-color: black;">

 {% for q_a_set in base_questions %} 
    <tr>
        <td id="{{q_a_set[0][1]}}" data="{{q_a_set[0][1]}}">

            <button id="{{q_a_set[0][1]}}" name="{{q_a_set[0][1]}}">{{q_a_set[0][1]}}</button>

        </td>

        {% if not q_a_set[1] == None %}
        <td id="{{q_a_set[0][1]}}">

            {% for a in q_a_set[1][0:1] %}
                <p target="{{q_a_set[0][1]}}" id="{{q_a_set[0][1]}}">{{ a[2] }}<p>
        </td>
    </tr>
            {% endfor %}
            {% for a in q_a_set[1][1:] %}
    <tr id="{{q_a_set[0][1]}}"> 
        <td>
        </td>
        <td id="a[2]">
             <div id="{{q_a_set[0][1]}}">{{ a[2] }}<div>
        </td>
    </tr>
            {% endfor %}
        {% endif %}

{% endfor %}
</table>


</body>

<script language="javascript" type="text/javascript">
        $(document).ready(function() {

            $("button").click(function(e){
                var targ =''+e.target.id;
                if ($('p[target]')=targ).toggleClass("hide");
                 alert (targ);
            });
        });
</script>


