<!DOCTYPE html>
<html>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/css/accordian.css') }}"/>


<nav class="menu">

    <a class="first" href="#">Normal</a>
    <a href="#">Normal</a>

    <nav class="drop-down-menu">
      <input type="checkbox" class="activate" id="accordion-1" name="accordion-1">
      <label for="accordion-1" class="menu-title">Drop-Down 1</label>
      <div class="drop-down">
        <a href="#">Normal</a>
        <a href="#">Normal</a>
        <a class="last" href="#">Normal</a>
      </div>
    </nav>

    <nav class="drop-down-menu">
      <input type="checkbox" class="activate" id="accordion-2" name="accordion-2">
      <label for="accordion-2" class="menu-title">Drop-Down 2</label>
      
      <div class="drop-down">
        <a href="#">Normal</a>
        <a href="#">Normal</a>
        <a href="#">Normal</a>
        <a href="#">Normal</a>
        <a href="#">Normal</a>
        <a class="last" href="#">Normal</a>
      </div>
    </nav>

    <a href="#">Normal</a>
    <a class="last" href="#">Normal</a>

  </nav>