{% extends "base.html"  %}

{% block content %}         
<div class="columns">
                <div class="column is-one-fifth">
                        {% block left_side_bar %}
                            <aside class="accordion" style="padding-top: 10px; position: fixed;">
                                <h1>Basic</h1>
                                <h1>Environmental</h1>
                                <h1>Wider area</h1>
                                <h1>Updates</h1>
                                <h1>Updates</h1>
                                <h1>Updates</h1>
                            </aside>
                        {% endblock %}
                </div>
                  

            <div class="column">
                    {% block action %}
                    {% endblock %}
             </div>


   </div>

{% endblock %}