<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	    <script language="javascript" type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
	<title></title>
</head>
<body>


<style type="text/css">
	.white_bord{border: 4px solid white;}
</style>
<button id="work">button
</button>
<button id="border">button
</button>
<table id="table">

</table>

<script type="text/javascript">

var boundaries = [{dir:"right" , len : 10},{dir:"down" , len : 4},{dir:"left" , len : 10},{dir:"up" , len : 4}]
function tile_roll(){
	var cur_td
    $(`td`).mouseenter(function(){
 		$(this).css({border:"4px solid white"});
 		cur_td = $(this)
    });

    $(document).contextmenu(function(e){
    	cur_td.text('W')
    		.css({color:"blue"});
    	return false
    });
    document.querySelector('table[id=table]').addEventListener("return", function(e){
    	cur_td.text('W')
    		.css({color:"blue"});
    });

    $(`td`).mouseleave(function(){
 		$(this).css({border:"4px solid black"});
    });
    $(`td`).click(function(){
    	$(this).text('T')
    		.css({color:"green"});
    });


}
$(document).ready(function(){
 	$("button[id=work]").click(function(){
	 	alert("1")
	 	var table = $("table[id=table]")
	 	var row = 0
	 	var col = 0
	 	var a =100
	 	for (var i = 0; i < a; i++){
	 		row += 1
	 		table.append(`<tr row=${row}></tr>`)
	 		row_level = $(`tr[row=${row}]`)
	 		for (var j = 0; j < a; j++){
	 			col +=1
	 			row_level.append(`<td style ="border: 4px solid black; background-color: black;" height="12px" length="20px" row=${row} col=${col}></td>`)
	 			//tile = $(`td[row=${row}][col=${col}]`)
	 		};
	 	};
	 	tile_roll()
 	});


 	/*$("button[id=work]").click(function(){
 		var table = $("table[id=table]")
	 	var row = 0
	 	var col = 0
	 	for (let b of boundaries){
	 		var walk = b.len + 1
	 		if (b.dir == "right"){
	 			for (var i = 0; i < walk; i++){
	 				table.append()
	 			}
	 		}
	 	}
 	});*/


});
</script>
</body>
</html>