{% extends "base.html" %}

{% block content %}
<style>
.view_c {
  border: 5px outset blue;
  background-color: lightblue;
  text-align: center;
}
</style>

<div class="view_c">
	<h1 style="font-size:300%; color:black;">
				{{ view_code }}
	</h1>


</div>

	<a 
       	<button href="{{ url_for("mp.validate_view_code",particular_id = particular_id,view_code=view_code) }}" type ="submit" class="button is-block is-info is-large ">confirm code and return to mp</button>
    </a>
    <a 
       	<button href="{{ url_for("mp.selectedmp",particular_id = particular_id) }}" type ="submit" class="button is-block is-info is-large ">cancel and return to mp</button>
    </a>

{% endblock %}