
{% extends "base.html" %}

{% block content %}
<html>
<head>
<title>despatches - 'LOGIN PANEL'</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body>

<script src="https://labs.os.uk/public/os-api-branding/v0.3.0/os-api-branding.js"></script>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v1.13.1/mapbox-gl.js"></script>
<script src="https://unpkg.com/mapbox-gl-leaflet/leaflet-mapbox-gl.js"></script>

<script>

  /*var map = L.map('map', {
      center: [51.505, -0.09],
      zoom: 13
  });

  L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1,
    accessToken: 'pk.eyJ1IjoiaHVtZXMxMDEiLCJhIjoiY2t6ZXNkdnBiMm1lYTJubnhwcnhxdjNkdCJ9.ie1w7zxqLrLiRCSl2uEUxQ'
}).addTo(map);*/

</script>
</body
{% endblock %}
<map id='map' style='height: 400px;'></map>