{% extends "action_base.html" %}
{% block navbar %}
                            <a href="{{ url_for('main.index') }}" class="navbar-item">
                                Home
                            </a>
                            <a href="{{ url_for('main.profile') }}" class="navbar-item">
                                Profile

                            <a href="{{ url_for('auth.logout') }}" class="navbar-item">
                                Logout
                            </a>     
                            <a href="{{ url_for('mp.display_mp') }}" class="navbar-item">
                                Selling market particulars
                            </a>
                            <a href="{{ url_for('mp.redeem_view_code') }}" class="navbar-item is-active is-tab">
                                Redeem view code
                            </a>
                         <a href="{{ url_for('mp.prospect_properties') }}" class="navbar-item">
                                Prospect market particulars
                            </a>
                            {% if agent == True %}
                         <a href="{{ url_for('mp.prospect_properties') }}" class="navbar-item">
                                Agency portal
                            </a>
                            {% endif %}
{% endblock %} 

{% block action %}
<div>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<div class="notification is-danger">
	{{ messages[0] }}
</div>
	{% endif %}
	{% endwith %}

	<div style="color:black;"> Enter; The view code supplied by the property's agent or buyer to view the property's disclosure </div>

	<form method="POST" action="/redeem_code">
		<input type="text is-large" name="view_code">
		<div id="legal_form">
			<div>Legal ID code</div>
			<input type="text is-large" name="view_code">
	</div>
		<div style="color:black;"><button>redeem</buttom></button></div>
	</form>
<div style="color:black;">
	<input type="checkbox" id="legal_share">Share with Legal
</div>
</div>

	<script language="javascript" type="text/javascript">
				$( "#legal_form" ).hide();
	</script>

	<script language="javascript" type="text/javascript">
			$(document).ready(function() {
			 $('#legal_share').click(function(){
			 		$('#legal_form').show();
			 	}
			 });
	</script>

{% endblock %}