{% extends "base.html" %}

{% block content %}
<div class="tabs is-toggle is-rounded" align="center" style="align:center">
	<ul>
		<li class="is-active" id="gen_serv_data" type="general"> <a> general survey data</a></li>
		<li id="desc_build" type="general"><a> describe building objects</a></li>
	</ul>
</div>
<section id="general_survey_data">
	<div><input class="text" type="text" placeholder="reference ID"></div>
	<input class="date" type="text" placeholder="survey date">
	<input class="name" type="text" placeholder="tenant full name">
	<input class="name" type="text" placeholder="landlord full name">
	<input class="postcode" type="text" placeholder="postcode">
	<div><input class="text" type="text" placeholder="property name"></div>
	<div><input class="text" type="text" placeholder="address first line"></div>
	<div><input class="text" type="text" placeholder="city"></div>
	<div><input class="text" type="text" placeholder="project type"></div>
	<div><input class="text" type="text" placeholder="weather"></div>
	<div><input class="text" type="text" placeholder="Building owner adress"></div>

</section>
<section id="describe_building_objects" class="hide">
	<div class="tabs is-toggle is-rounded" align="center" style="align:center">
		<ul>
			<li type="build_objects" class="is-active" id="see"> <a> see added data</a></li>
			<li type="build_objects" id="add"><a> add new components</a></li>
		</ul>
	</div>
<section id="see_added">
</section>
<section id="add_more">
	<div>
	<button class="button is-warning" id ="seein"> see in</button><button class="button is-success" id ="seeout" > see out </button>
	</div>
	<table>
		<tr>
			<td>
				<p> most common descriptions </p>
				<div class="buttons" style="width:400px;">
					<button type="descriptions" id= "out" class="button is-success">front elevation</button>
					<button type="descriptions" id= "in"class="button is-warning">loft </button>
					<button type="descriptions" id= "in"class="button is-warning">bedroom</button>
					<button type="descriptions" id= "in"class="button is-warning">bathroom</button>
					<button type="descriptions" id= "in"class="button is-warning">kitchen</button>
					<button type="descriptions" id= "in"class="button is-warning">reception</button>
					<button type="descriptions" id= "in"class="button is-warning">living room</button>
					<button type="descriptions" id= "in" class="button is-warning">dining room</button>
					<button type="descriptions" id= "out" class="button is-success">front garden</button>
					<button type="descriptions" id= "out" class="button is-success">side passage</button>
					<button type="descriptions" id= "out" class="button is-success"> master bedroom</button>
					<button type="descriptions" id= "in" class="button is-warning">garage</button>
					<button type="descriptions" id= "in" class="button is-warning">landing</button>
					<button type="descriptions" id= "in" class="button is-warning">stairwell</button>
					<button type="descriptions" id= "in" class="button is-warning">landing and stairwell</button>
					<button type="descriptions" id= "in" class="button is-warning"> hallway </button>
					<button type="descriptions" id= "out" class="button is-success">garden</button>
					<button type="descriptions" id= "out" class="button is-success">boiler cuboard</button>
					<button type="descriptions" id= "out" class="button is-success">rear bedroom</button>
				</div>
				<div>
					<div style="color:black;">custom name</div>
					<input type="text" class="input is-small" style="width:250px"></text>
				</div>
			</td>
			<td id="data_area" class="hide">
				<H1 id="component" class="hide">bb</H1>
				<div>description</div><textarea class="textarea" placeholder="write descriptions of"></textarea>
				<button class="button">add object data</button>
			</td>
			<td> 
			</td>
		</tr>
	</table>
</section>
</section>


<script>
$(document).ready(function(){
	$("button[id=seein]").click(function(e){
		$("button[id=in]").toggleClass("hide")
	});
	$("button[id=seeout]").click(function(e){
		$("button[id=out]").toggleClass("hide")
	});

	$("button[type=descriptions]").click(function(e){
		property_portion = $(this).text()
		$("#component").text(property_portion)
		if ($("#component").hasClass("hide")==true){
			$("#component").toggleClass("hide");
			$("#data_area").toggleClass("hide");			
		}
	});
	$("li[type=general]").click(function(e){
		$("li[type=general]").removeClass("is-active")
		$(this).addClass("is-active")
		if($(this).attr("id")== "gen_serv_data"){
			$("#general_survey_data").removeClass("hide")
			$("#describe_building_objects").addClass("hide")
		}else if ($(this).attr("id")== "desc_build"){
			$("#general_survey_data").addClass("hide")
			$("#describe_building_objects").removeClass("hide")			
		}
	});
	$("li[type=build_objects]").click(function(e){
		$("li[type=build_objects]").removeClass("is-active")
		$(this).addClass("is-active")
		if($(this).attr("id")== "see"){
			$("#see_added").removeClass("hide")
			$("#add_more").addClass("hide")
		}else if ($(this).attr("id")== "add"){
			$("#see_added").addClass("hide")
			$("#add_more").removeClass("hide")			
		}
	});
});
</script>

{% endblock %}