{% for stamp in mp[stamps].stamps%}
	{% set curstamp = mp[stamps].stamps[stamp] %}
	{% if "marks" in curstamp %}
		<div class="feed_box">
			<div class="row">
				<div class="colour_col">
					<div class="colour_tab"></div>
					{% if "new_disclose" in curstamp["marks"] %}
						<div class='colour_tab new_disclose' stamp='{{stamp}}' type='new_disclose' group='colour_stamp'></div>
					{% endif %}
					{% if "finance" in curstamp["marks"] %}
						<div group='colour_stamp'stamp='{{stamp}}'class='colour_tab loan_opp' type='loan_opp'></div>
					{%  endif %}
					{% if "indem" in curstamp["marks"] %}
						<div group='colour_stamp'stamp='{{stamp}}'class='colour_tab idem_opp' type='indem_opp'></div>
					{%  endif %}					
				</div>
			</div>
		</div>
	{% endif %}
{% endfor %}