{% block Freehold_shares %}
   {% if freehold_data == None %}

             No Freehold Shares assigned to sale

         {% else %}

        <div class="table-wrapper">
            <table class="fl-table" align="left">
                <thead>
            <tr>
              {% for header in headings %}
              <th> {{ header }}</th>
              {% endfor %}
            </tr>
            </thead>
                <tbody>
            {% for row in data %}
            <tr style="color:black">
              {% for cell in row %}
                <td> 
                    {{ cell }} 
                 </td>
                {% endfor %}
                <td>
                        <a 
                        <button href="{{ url_for("mp.selectedmp",particular_id = row[0]) }}" type ="submit" class="button is-block is-info is-large ">View</button>
                      </a>
                </td>
            </tr>

          {% endfor %}

                </tbody>
            </table>
        {% endif %}
        {% endblock %}