{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static',filename='styles/css/form_components.css') }}">
<div>
<button  class="button" id="view_form">View Form</button>
</div>


{% macro text_input(text, id) -%}
<div class="row">
	<div class='pillar'>
		<div>
			<p class="q_title">{{text}}</p>
		</div>
		<div class="input_container">
			<input type="text" class="input" id='{{id}}'></input>
		<div>
	</div>
</div>

{%- endmacro %}
{% macro columns(columns) -%}
	<div class="colunms">
		{% for col in columns %}
		<div class="column">
			{{col}}
		</div>
		{% endfor%}
	<div>
{%- endmacro %}

<div id="sections">
<div style='margin: auto; width:90%;'>
	<div class="columns">
		<div class="column">
			<div class="pillar">
				{{text_input('Section Name', 'section_name')}}
				{{text_input('Section identifier', 'section_identifier')}}
				<div>
					<button id="add_section" class="button is_link ">ADD SECTION</button>
				</div>
			</div>
		</div>
		<div class="column">
			<table class="table" id='section_table' row=0>
				<tr>
					<th>
						Section Name
					</th>
					<th>
						Section identifier
					</th>
					<th>
						Main Question number
					</th>
					<th>
					</th>						
				</tr>
			</table>

		</div>
	</div>
</div>
<tr>
	<td ident = ``>
	</td>
</tr>

</div>
<div id="section_questions" class="hide">
	<p class="q_title"> Section questions</p>
	<p><span>current section</span><span id="current_section_span"></span></p>
	<table class="table">
		<tr>
			<th>
				question_title
			</th>
			<th>
				input_type
			</th>
			<th>
				identifier
			</th>						
		</tr>
	</table>
</div>
<script type="text/javascript">
var current_section = undefined
var form = {'Sections':[]}
$(document).ready(function(){
	$('#add_section').click(function(){
		var section_name = $('#section_name').val().trim()
		var section_identifier = $('#section_identifier').val().trim();
		var row = $('#section_table').attr('row')
		row ++
		$('#section_table').attr('row',row)

		form['Sections'].push({'section_name': section_name,'section_identifiser':section_identifier})
		$('#section_table').append(`
			<tr row=${row} type='section' section_data = '${section_identifier}'>
				<td row=${row} row_type='section_name'>${section_name}</td>
				<td row=${row} row_type='section_identifier'>${section_identifier}</td>
				<td row=${row} row_type='question_number'>0</td>
				<td><button type='section_edit' section=${section_identifier}>EDIT SECTION</button></td>
			</tr>
			`)
	});

	$('button[type=section_edit]').click(function(){
		$('#section_questions').removeClass('hide');
		$('#sections').addClass('hide');
		current_section = $(this).attr('section')
		var scope
		var list_count = 0
		while (scope.section_identifier != current_section){
			scope = form.Sections[list_count]
			list_count ++
		};
		$('#current_section_span').text(scope.section_name)

	});
});
</script>

{% endblock %}