<section id="guidance" style="width: 100%; margin: auto;" >
			<div>
				<div>
					<p><b>Guidance</b></p><br></br>
					<p><span>The TA6 part 1 covers many of the basic elements of disclosure providing a stable base for buyers to finalise negotiations and for a conveyancer to begin the disclosure process and comply Law Society & other regulated standards.</span><br></br><span>The TA6 part (1) one can also be used as a start point for the <a style="color:green;">Expansive Cascade Disclosure</a>which can also be filled out independantly from the TA6 forms</span></p><br>
					<p>Throughout the form you are free to leave any question blank if you so choose and return to it at a later date.<span>If you are unsure of the correct answer leave the question blank until you can find out the required information, or seek the required guidance/ assistance.</span></p>
				</div>
				<div class="row">
					<span>You may remove / delete any input data or deselect any selection by using the <button class="button is-small is-warning">X</button> (yellow) "X" button normally located on the right of a given answer.</span><br>
				</div>
				<div class="row">
					<span>After completing each section press the  <button class="button is-small is-success">Submit</button> button to move on to the next section (you can return to any section you have already submitted data for (or left empty) at anytime)</span><br>
				</div>
				<div>
					<p>Note that in some places an answer segement of the form may need to be filled out multiple times, for example sets of relevant addresses or details of relevant persons</p></span><br>
				</div>

				<div style="width: 100%; margin: auto; position: relative;">
					<button id="begin_form" class="button is-medium is-success" style="width: 10%; margin: auto; position: relative;">Continue<button>
				</div>			
			</div>
		</section>