
{% extends "base.html" %}
{% block links %}
 {% include "link_configs_and_spatial/spatial_links.html" %}
<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='js/base_map.js') }}"></script>
<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='js/template/input_interactions.js') }}"></script>
<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='js/template/reliance_evaluation.js') }}"></script>
<script language="javascript" type="text/javascript" src="{{ url_for('static', filename='js/template/multi_row_data_table.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/@ideal-postcodes/address-finder-bundled/dist/address-finder.js"></script>
{% endblock %}
{% macro other_input_data(question) -%}
   {% if question['required'] is defined %}
   		required='{{question['required']}}'
   	{% endif %}
{%- endmacro %}
 {% block content %}
<meta id="form_data" 
		data-flow_controls="{{ main_form_data['flow_controls'] | tojson }}"
		data-form_id="{{main_form_data['form_id']}}"
		data-questions="{{ main_form_data['questions'] | tojson }}"
		data-form ="{{template['form_identifier'] }}"
		data-results="{{main_form_data['results'] | default('none')}}"
		data-section_marker="{{ main_form_data['section_marker']}}"
		data-submission_Sequence = "{{submission_sequence | default('sections')}}"
		data-submission_url="{{submission_url|default('/TA6_Part_1_submit')}}"
		data-test = "{{test|default('no')}}"
		data-process="{{ template['process'] |default('bulk')}}"
		data-template_type ="{{main_form_data['template_type']|default('TA6')}}"
		data-root_linkage="{{root_linkage|default('none')}}"
		data-root_linkage_id="{{root_linkage_id|default('none')}}">
<style>
.pillar{
	display:flex;
 	flex-direction:column;
}

.row{
	display:flex;
	flex-direction:row; 
}

.input_container{
	width:600px;
	display:flex; 
	flex-direction:row; 	
}

.short_radio{
	margin:auto; width:90%;
}

.radio_container{
	margin-right:10px;
	display:flex;
 	flex-direction:column;
}

.q_title{
	margin-top: 20px;
	margin-bottom: 20px;
}

.child_q{
	margin-left: 20px;
}

.empty_button{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);

}

.empty_container{
	position: relative;
}
.neg_border{
	border-color: red;
}

</style>
{% if template['process'] == 'single_selection' %}
	{% include "Json_form_templating/single_data_point_templating.html"%}
{% else %}
 {% include "Json_form_templating/standard_section_templating.html"%}
{% endif %}
{% endblock %}
{%block scripts%}

<script>
var form_col_type='{{col_type}}'
var table_row=0;
var submitable;
var allow_details = true;
var other_text_submittable;
var form_objects = {};

var form_data = $("meta[id=form_data]").data();
var linkage = {'form_name':form_data['form'], root_linkage:form_data['root_linkage'], root_linkage_id:form_data['root_linkage_id']}

var sections = JSON.parse({{ main_form_data['sections'] | tojson }})

var current_section;

var template = JSON.parse({{ main_form_data['template'] | tojson }})
//var section_controls = JSON.parse({ main_form_data['section_controls'] | tojson }})

var open_section

var maps = {};

var questions = JSON.parse({{ main_form_data['questions'] | tojson }});

var results = JSON.parse({{ main_form_data['result_send'] | tojson }})

var sub_table_data = JSON.parse({{ main_form_data['sub_tables_send'] | tojson }})

var form_flow_controls = JSON.parse({{ main_form_data['flow_controls'] | tojson }})

	function text_final_val_func(vari){
		console.log(vari);
		var html_val;
		var id_or_name = vari.identifier;
		if (vari.styling != undefined && vari.styling['stock_options'] != undefined){
			id_or_name+="stock"
			hmtl_val = $(`#${id_or_name}`).val().trim();
			if (!hmtl_val.length){
				vari.value = false;
				vari.false=1;					
			} else{
				vari.value = hmtl_val
				if (vari.value == 'other'){
					id_or_name += "other"
					hmtl_val = $(`input[id=${id_or_name}]`).val().trim();
					if (!hmtl_val.length){
						/*alert($(`input[id=${id_or_name}_stock_other]`).val())
						alert('3')*/
						vari.value = false;
						vari.false = 1;						
					}else {
						vari.value = hmtl_val;
					};
				};					
			};
		}else{
			console.log($(`#${id_or_name}`).val())
			hmtl_val = $(`#${id_or_name}`).val().trim();
			if (!hmtl_val.length){
				vari.value = false;
				vari.false = 1;
			} else {
				console.log(hmtl_val)
				vari.value = hmtl_val;
			};
		};
		return vari
	}
	function final_input_value(vari){
		vari.false=0;
		function radio_final_value_func(vari){
			if ($(`input[name=${id_or_name}]:checked`).length > 0){
				vari.value = $(`input[name=${id_or_name}]:checked`).val();
			} else if (vari.mandatory == 'true'){
				vari.value = false;
				vari.false = 1;
			} else{
				vari.value = "empty";
			};
			return vari
		}
		final_input_value_funcs = {
			'radio':function(vari){
				return radio_final_value_func(vari)
			},
			'bool':function(vari){
				return radio_final_value_func(vari)
			},
			'bool_extra':function(vari){
				return radio_final_value_func(vari)
			},
			'text':function(vari){
				return text_final_val_func(vari)
			},
			'detail_text':function(vari){
				return text_final_val_func(vari)
			},
			'input':function(vari){
				if (vari.styling != undefined && vari.styling['stock_options'] != undefined){
					if (!$(`#${id_or_name}_stock`).val().trim().length){
						vari.value = false;
						vari.false=1;					
					} else{
						vari.value = $(`#${id_or_name}_stock`).val()
						if (vari.value == 'other'){
							if (!$(`#${id_or_name}_stock_other`).val().trim().length){
								vari.value = false;
								vari.false = 1;						
							}else {
								vari.value = $(`#${id_or_name}_stock_other`).val().trim();
							};
						};					
					};
				}else{
					if (!$(`#${id_or_name}`).val().trim().length){
						vari.value = false;
						vari.false = 1;
					} else {
						vari.value = $(`#${id_or_name}`).val().trim();
					};
				}
				return vari
			},
			'checkbox':function(vari){
				if (form_data['template_type'] != 'micro'){				
					if ($(`input[name=${id_or_name}]:checked`).length > 0){
						vari.value = 2;
					}else if (vari.mandatory == 'true'){
						vari.value = false;
						vari.false = 1;
					} else{
						vari.value = 3;
					};
				} else{
					if ($(`input[name=${id_or_name}]:checked`).length > 0){
						vari.value = 'yes';
					}else if (vari.mandatory == 'true'){
						vari.value = false;
						vari.false = 1;
					}else{
						vari.value = 'no';
					};
				}
				return vari;
			},
			'multi_row':function(vari){
				vari.rows = []
				$(`tr[table_name=${id_or_name}][uploaded='no']`).each(function(){
					//alert("row")
					var row_data = {};
					var row_num = $(this).attr("row_num") 
					vari.data_rows.forEach(function(item){
						//alert(item.identifier)
						row_data[item.identifier] = {};
						row_data[item.identifier].value=$(`td[row=${row_num}][name=${item.identifier}][table_name=${id_or_name}]`).attr('val');
						row_data[item.identifier].input_type = item.input_type
						row_data[item.identifier].false = $(`td[row=${row_num}][name=${item.identifier}][table_name=${id_or_name}]`).attr('fa')

					});
					vari.rows.push(row_data)
					
				});
				vari.value = vari.rows.length
				if (vari.rows.length < 1){
					vari.value = false;
					vari.false = 1;
				};
				return vari
			},
			'docu':function(vari){
				if ($(`#${id_or_name}`).get(0).files.length === 0){
					vari.value = false;
					vari.false = 1;
				} else {

				}
				return vari				
			},
			'date':function(vari){
				if ($(`#${id_or_name}`).val().length === 0){
				vari.value = false;
				vari.false = 1;
				} else {
					vari.value = $(`#${id_or_name}`).val();
				}	
				return vari
			},
			'postcode':function(vari){
				vari = text_final_val_func(vari)
				if (vari.value != false && vari.false != 1){
					var space = vari.value.search(new RegExp(' ', "i"));
					if (space != -1){
						var new_val = '';
						new_val = vari.value.substring(0,space) + vari.value.substring((space+1));
						vari.value = new_val;
					};
				};
				return vari
			},
			'none':function(vari){
				return 0
			}
		};

		vari.value = true;
		vari.false = 0;
		type = vari.input_type
		id_or_name=vari.identifier
		if (final_input_value_funcs[type] != undefined){
			vari = final_input_value_funcs[type](vari)
		}else{
			if (!$(`#${id_or_name}`).val().length){
				vari.value = false;
				vari.false = 1;
			} else {
				vari.value = $(`#${id_or_name}`).val();
			};
		};
		return vari;
	};

	function empty_text_values(val){
		if (val == 0){
			val = ''
			return val
		}
	}

$(document).ready(function(){
	var window_width = $(window).width();
	$(window).on('resize', function() {
		if ($(this).width() !== window_width) {
			 window_width = $(this).width();
			$('div[func=guidance_slider][view=true]').each(function(){
				$(this).css('width', $($(this).parent()).css('width'))
			});
		};
	});

	$('button[func=guidance_toggle]').click(function(){
		var view = $(this).attr('view')
		var identifer;
		var guidance_slider;
		var guidance_text;
		var height;
		var spacer_height
		identifier = $(this).attr('identifier');
		guidance_slider = $(`div[func=guidance_slider][identifier=${identifier}]`);
		guidance_text =$(`div[func=guidance_text][identifier=${identifier}]`);
		if ( view ==='false'){
			var gs_height= $($(guidance_slider).parent()).css('height');
			var gt_height = $(guidance_text).css('height');
			$(guidance_slider).css('height', gs_height)
			$($(guidance_slider).parent()).attr('height',gs_height);
			if ( parseInt(gt_height,10) > parseInt(gs_height,10)){
				height = gt_height
				$($(guidance_slider).parent()).css('height', gt_height)
				spacer_height = parseInt(gt_height,10) - parseInt(gs_height,10)
			} else{
				gt_height = gs_height
				spacer_height = 0
			}
			/*function animateGuidanceText() {
			  return new Promise(function(resolve, reject) {
			    $(guidance_text).css('color', 'transparent')
			      .removeClass('hide')
			      .slideUp('fast', function() {
			        resolve();
			      });
			  });
			}

			animateGuidanceText().then(function() {
			  $(guidance_text).css('color', 'black').slideDown();
			});*/

			$(guidance_text).css('color','transparent')
				.removeClass('hide')
				.slideUp()
				setTimeout(()=>{$(guidance_text).css('color','black')},400);
				setTimeout(()=>{$(guidance_text).slideDown()},400);
			var width = parseInt($($(guidance_slider).parent()).css('width'),10) - parseInt($(`div[func=side_button_container][identifier=${identifier}]`).css('width'),10)
			$(guidance_slider).animate({'width':`${width}px` , 'height':height});
			if ($(`div[func=guidance_spacer][identifier=${identifier}]`).length == 1){
				$(`div[func=guidance_spacer][identifier=${identifier}]`).css('height',`${spacer_height}px` )
			} else{
				$($(guidance_slider).parent()).append(`<div func='guidance_spacer' identifier='${identifier}' style='height:${spacer_height}'></div>`)
			};

			setTimeout(() => {$(this).attr('view','true')}, 200);
		} else if (view ==='true'){
			$(guidance_text).addClass('hide');
			height = $($(guidance_slider).parent()).attr('height')
			/*let height_slide = new Promise(function(resolve, reject){
				$(guidance_slider).animate({'width':`0px`, 'height':`0px`});
				return 'success';
			}) 
			height_slide
				.then(function(result){
				console.log('60000');
				$($(guidance_slider).parent()).css({'height':'50px'});
			});*/
				$(guidance_slider).animate({'width':`0px`, 'height':`0px`})
				$($(guidance_slider).parent()).css('height', 'auto')
				$(`div[func=guidance_spacer][identifier=${identifier}]`).animate({'height':'0px'})
			$(this).attr('view', 'false')
		}

	});
	var form_objects_functions = {
		'address':function(form_object){
			if(navigator.onLine){
				try{
					IdealPostcodes.AddressFinder.setup({
			    		apiKey: "ak_test",
			   		outputFields: {
					      line_1: '#'+form_object['elements']['line_1'],
					      line_2: '#'+form_object['elements']['line_2'],
					      line_3: '#'+form_object['elements']['line_3'],
					      post_town: '#'+form_object['elements']['post_town'],
					      postcode: '#'+form_object['elements']['postcode'],
			    		}
			  		});
				}catch(err){
					console.log(err);
				}
			}
		},
	};
	var reached_section = form_data.section_marker;
	console.log(form_data.process)

	if (form_data.process == 'bulk'){
		if (form_data['submission_sequence'] == 'single'){
			var total_data = {}
			$('#single_submission_sender').slideUp()
				.click(function(){
				$.ajax({
					type:"POST",
					url:form_data['submission_url'],
					data:{inputs:JSON.stringify(total_data), form:form_data['form']}
				})
			});

			$('#single_submission_sender').mouseenter(function(){
				$(this).css({"background-color":"#ede6e6"});
			});
			$('#single_submission_sender').mouseleave(function(){
				$(this).css({"background-color":"green"});
			});
		};

		bulk_send_reliances(form_flow_controls);

		sections.forEach(function(section){
			empty_and_convert(questions[section]);
			ajax_submission(section, questions[section], form_data['submission_sequence']);
		});

		Object.keys(form_objects).forEach(function(form_object){
			if (form_objects_functions[form_objects[form_object]['type']] != undefined){
				form_objects_functions[form_objects[form_object]['type']](form_objects[form_object])
		}
		});

		sections.forEach(function(sec){
			$(`section[id=${sec}]`).addClass('hide')
		});
		$("li[menu_type=sub_menu]").click(function(){
			var menu = $(this).attr("sub_menu");
			var menu_selec = $(`ul[menu=${menu}]`);
			if ($(menu_selec).attr("status") == "closed"){
				$(menu_selec).slideDown();
				$(menu_selec).attr("status","open");
			}; /*else if($(menu_selec).attr("status") == "open"){
				$(menu_selec).slideUp()
				$(menu_selec).attr("status","closed")
			}*/
		});
		
		$("ul[men_type=menu_sub_sec]").slideUp()

		$("a[purp=selec]").click(function(){
			if (reached_section >= $(this).attr('sec_count') || form_data.test == 'test'){
				open_section = $(this).attr("selec")
				var opener = "#"+ open_section
				if (current_section !== undefined){
					$(current_section).addClass("hide")
				};

				current_section = $(opener)
				$(current_section).removeClass("hide")
				$("a[purp=selec]").removeClass("is-active")
				$(this).addClass("is-active")
				$("ul[men_type=menu_sub_sec]").each(function(){
					if ($(this).attr("menu") != open_section){
						$(this).slideUp();
						$(this).attr("status","closed");
					};
				});
			};
			$(opener).focus()
			$(opener)[0].scrollIntoView();
			if ($(current_section).attr('id') == 'flooding'){

					
			
			}
		});
		$("button[id=begin_form]").click(function(){
			$("#guidance").addClass("hide")
			if (reached_section >= sections.length){
				$(`a[selec=${sections[0]}]`).click();
			} else{
				$(`a[selec=${sections[reached_section]}]`).click();
			};

		});
		function next_section(){
			reached_section += 1
			if (!(reached_section > (sections.length - 1))){
				$(`a[selec=${sections[reached_section]}]`).click()
			} else{
				reached_section = 0
				$(`a[selec=${sections[reached_section]}]`).click()
			};
		};		
	} else if (form_data.process == 'single_selection'){
		sec_count = 0
		function render_next_q(){
			var next_q = questions[sections[sec_count]]
			$.ajax({
				type : "POST",
				url : `/sequence_next_q`,
				data : {next_q:next_q, form:template['form_identifier']},
				success : function(data){
					single_question_space.append(data)
				}
			});
		};
		render_next_q();
	};
	//alert(questions['ownership'][0]['identifier'])

	//empty_and_convert(questions['ownership'])	

	$('button[type=accept_warning_button]').each(function(){
		$(this).click(function(){
			var base = $(this).attr('base');
			$(`#${base}_container`).attr('status', 'unlocked')
			$(`#${base}_warning`).attr('confirmed','true')
			$(`#${base}_warning`).slideUp()
			$(`#${base}_container`).slideDown()
		});
	});


	function ajax_submission(section, input_conversion, submission_type){
		submission_button = `submit_${section}`
		var data_object = {}
		var mandatory_action = false;
		var document_list =[]
		$(`#${submission_button}`).click(function(){
			document_list =[]
			mandatory_action = false;
			input_conversion.forEach(function(item){
				if (item.input_type != 'none'){
					if (item.input_type != 'docu'){
						data_object[item.identifier] = final_input_value(item);
						if (data_object[item.identifier]['mandatory'] == 'true' && data_object[item.identifier].false == 1){
							mandatory_action = true;
						};
					}else if (item.input_type == 'docu'){
					document_list.push(item)
				}
				}
			});
			if (mandatory_action != true){
				var sec_status = 'steady'
				if (section == sections[reached_section]){
					sec_status = reached_section + 1
				};
				if (submission_type === 'sections'){
						var final_data = JSON.stringify(data_object)
						$.ajax({
						type : "POST",
						url : form_data['submission_url'],
						data : {form_ID : form_data.form_id, inputs : final_data, section : section, sec_status: sec_status, linkage:JSON.stringify(linkage)},
						success : function(data){
							questions[open_section].forEach(function(item){
								if (item.input_type == 'multi_row'){
									$(`tr[table_name=${item.identifier}][uploaded='no']`).attr('uploaded', 'yes');
								}
							});
							document_list.forEach(function(doc_set){
									console.log(doc_set)
									if ($('#'+doc_set['identifier']).get(0).files.length !== 0){
										var document_data = new FormData(document.getElementById(""+doc_set['identifier']+'_form'));
										console.log(form_data.form_id,form_data.form)
										document_data.append('form_ID',form_data.form_id)
										document_data.append('form_name',form_data.form)
										document_data.append('text_reference',doc_set['identifier'])
										$.ajax({
											type : "POST",
											url:'/document_collection',
											data : document_data,
											processData: false,
											contentType: false,
											success : function(data){
											}
										});
									}

								});
							if (section == sections[reached_section]){
								next_section();
							} else {
								$(`a[selec=${sections[reached_section]}]`).click()
							}
						}
						/*error: function(error) {
										console.log(error);	
						}*/		
					});
				} else {
					total_data[section] = data_object
					if (section == sections[(sections.length)-1]){
						$('#single_submission_sender').slideDown()
					}
					next_section();
				};
			};
		});
	};

	$('div[divmap=true]').each(function(){
		if(navigator.onLine){
			maps[$(this).attr('name')] = Initialize_map(51.068,0.476, 12,$(this).attr('id'));
		}
		 if ($(this).attr('api') == 'flood_risk'){
		 	if(navigator.onLine){
				var flood_level_risk_2 = L.tileLayer.wms( 'https://environment.data.gov.uk/spatialdata/flood-map-for-planning-rivers-and-sea-flood-zone-2/wms', 
					{
				   	layers: 'Flood_Map_for_Planning_Rivers_and_Sea_Flood_Zone_2',
				   	format: 'image/png',
				   	transparent: true,
				   	attribution: "Weather data © 2012 IEM Nexrad",
				   	opacity:0.4
					}
				);
			  flood_level_risk_2.addTo(maps[$(this).attr('name')])
			  var flood_level_risk_3 = L.tileLayer.wms( 'https://environment.data.gov.uk/spatialdata/flood-map-for-planning-rivers-and-sea-flood-zone-3/wms', 
			  		{
					   layers: 'Flood_Map_for_Planning_Rivers_and_Sea_Flood_Zone_3',
					   format: 'image/png',
					   transparent: true,
					   attribution: "Weather data © 2012 IEM Nexrad",
					   opacity:0.4
					}
				);
			  flood_level_risk_3.addTo(maps[$(this).attr('name')])
			}
		}

	});
	/*async function asyncCall(){
		var response = await fetch("https://environment.data.gov.uk/arcgis/rest/services/EA/FloodMapForPlanningRiversAndSeaFloodZone2/MapServer?f=pjson")
		console.log(response)
		var body = await response.text();
		console.log(body)
	};*/


	/*fetch("https://environment.data.gov.uk/arcgis/rest/services/EA/FloodMapForPlanningRiversAndSeaFloodZone2/MapServer?f=json")
  .then(function(response) {
  	 console.log(response)
    return response.text();
  }).then(function(data) {
    console.log(data); // this will be a string
  });*/


	/*alert(results)
	var result_keys =Object.keys(results)
	result_keys.forEach(function(item){
		var current_input = results[item]
		if (current_input != false || undefined){
			$(`#${item}`).val(current_input)
		};
	});*/

	
});

</script>

{% endblock %}