{% set subsections= namespace(count=0, ident_prefix='') %}
{% set sections= namespace(count=0, ident_prefix='') %}
<div class="columns">
	<div class="column is-one-fifth" style="background-color:#ede6e6;color:#135e7c">
		<aside class="menu is-warning">
			<p class="menu-heading">
   				Sections
  			</p>
  			<ul class="menu-list">
  				{% for section in template['Sections'] %}
  					{% if section['sub_sections'] is not defined %}
			  	<li>
			  		<div>
				  		<a id="{{section['section_identifier']}}_selector" purp="selec" selec="{{section['section_identifier']}}" style="display:flex; flex-direction:row;" sec_count={{ sections.count }}>
				  		<div>
				  			{{ section['section_name'] }}
				  		</div>
				  		<div style="width:100px" class="hide" id="{{section['section_identifier']}}_selector_completion_tick">
				  			<img src="{{url_for('static', filename='gen_images/confirmation_tick.png')}}"/>
				  		</div>
				  		</a>
				  	</div>
				  	{% set sections.count = sections.count+1 %}
			  	</li>
			  		{% else %}
			  		{% set subsections.count = 0 %}
				<li sub_menu="{{section['section_identifier']}}" menu_type="sub_menu">
					<a selec="{{section['section_identifier']}}">{{ section['section_name'] }}</a>
				  	<ul class="menu-list" id="{{section['section_identifier']}}_sub_sects" men_type="menu_sub_sec" menu="{{section['section_identifier']}}" status="closed">
				  		{% for sub_sec in section['sub_sections']%}
				  	{% set subsections.count = subsections.count + 1  %}
					  <li>
					  	<a sub_item={{ subsections.count }} id="ownership_selector" purp="selec" selec="ownership">
					 		{{ sub_sec['section_title'] }}
					  	</a>
					  </li>	
					  	{% endfor %} 
					</ul>
				</li>
					{% endif %}			  		
			  	{% endfor %}		  				  	  	
			</ul>
		</aside>
	</div>
	<div class="column" style="color:black;">
		{% if submission_sequence | default('sections') == 'single' %}
			<div id='single_submission_sender' style='background-color:green;height:80px;' class='hide'>
				<div>Submit Form</div>
			</div>
		{% endif %}
		<div id="loader" style="width: 100%;height: 100%; z-index: 5; background-color: grey; position: absolute; opacity: 0.6;" class="hide">
			<button class="button is-primary is-loading" style="margin: auto; position: relative;"></button>
		</div>
		{% include "Json_form_templating/guidance_section.html" %}
		{% for section in template['Sections'] %}
			{% if section['sub_sections']|length == 0 %}
				{% include "Json_form_templating/Json_form_templating_section.html" %}
			{% else %}
				{% for sub_section in section['sub_sections'] %}
					{% include "Json_form_templating/Json_form_templating_section.html" %}
				{% endfor %}
			{% endif %}
		{% endfor %}


	</div>
</div>
