

	<body style=''>
		<div type='report_page' id='cover_page' class='page'>
			<div class='page_inner'>
				<div></div>
				<div id='report_title' class='front-page-title'>
					Disclosure Report of {{property_nickname}}
				</div>
			</div>
		</div>
		<div type='report_page' page='1' class='page'>
			<div class='page_inner'>
				 {% include 'template_report_maker/appendix.html.jinja' %}
			</div>
		</div>
		<div>
			{% include 'template_report_maker/documents.html.jinja' %}
		</div>
	</body>